<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<div th:fragment="dialogInfo">
    <div id="modalDialogInfo" class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Информация</h5>
                    <button id="escape" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="forContentInfo">...</p>
                </div>
                <div class="modal-footer">
                    <button id="modalInfoButton" type="button" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>